/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ПЕРЕД СОХРАНЕНИЕМ ФАЙЛА КОДИРУЕМ ЕГО В UTF-8. ИНАЧЕ ПЛОХО ОТОБРАЖАЕТСЯ РУССКИЙ ЯЗЫК 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	background-image: url(../images/bg.jpg); /* Путь к фоновому рисунку */
    background-attachment: fixed;
	background-position: center;
}
a{
    color: #2193d8; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:visited {
    color: #2193d8; /* Цвет посещенной ссылки */
} 

a:hover {
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */
	text-decoration: none;
}

p {
	margin: 0 0 15px;
	color: #2193d8;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
img {
	border: none;
}

img.displayed {
	position: relative;
    display: block;
    float: right;
}

.select-free  {
  position: absolute;
  z-index: -10;
  overflow: hidden;/*must have*/
}

.MenuFooter {
	color: #2193d8;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}

.copyrights {
	color: #2193d8;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}

.content {
	position: absolute;
	background: #000;
	width: 980px;
	height: 1420px;
	background-image: url(../images/texture-content2.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.content-texture {
	position: absolute;
	width: 980px;
	height: 1420px;
	background-image: url(../images/texture-content.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.logo-main-menu {
	position: absolute;
	width: 248px;
	height: 139px;
	background-image: url(../images/logo.png);
}

/* Прозрачность */

.opacity {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
	-moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

.opacity-off {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 0.7; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

/* Прозрачность - Конец */

/* CSS Спрайт Меню */

#menu{width: 500px; overflow: hidden;} /* Положение меню */

	ul#MainMenu{margin: 0; padding: 0; list-style: none; clear: both;}
		#MainMenu li{overflow: hidden; text-indent: -9999px; display: inline; float: left; margin-right: 0px;}
			#MainMenu li a{background: url(../images/Menu_RU.png) no-repeat; width: 100%; height: 100%; display: block;}
			
			/* Кнопка Портфолио */
			#MainMenu li.portfolio{width: 139px; height: 139px;}
				#MainMenu li.portfolio a{background-position: 0px 0px;}
				#MainMenu li.portfolio a:hover{background-position: 0px -140px;}
				#MainMenu li.portfolio a.selected{background-position: 0px -280px;}
			
			/* Кнопка Услуги */
			#MainMenu li.services{width: 121px; height: 131px;}
				#MainMenu li.services a{background-position: -139px 0px;}
				#MainMenu li.services a:hover{background-position: -139px -140px;}
				#MainMenu li.services a.selected{background-position: -139px -280px;}
				
			/* Кнопка Контакты */
			#MainMenu li.contact{width: 106px; height: 126px;}
				#MainMenu li.contact a{background-position: -260px 0px;}
				#MainMenu li.contact a:hover{background-position: -260px -140px;}
				#MainMenu li.contact a.selected{background-position: -260px -280px;}
			
			/* Кнопка Главная */
			#MainMenu li.main{width: 76px; height: 114px;}
				#MainMenu li.main a{background-position: -366px 0px;}
				#MainMenu li.main a:hover{background-position: -366px -140px;}
				#MainMenu li.main a.selected{background-position: -366px -280px;}
			
			/* Кнопка Локализация */
			#MainMenu li.localization{width: 58px; height: 107px;}
				#MainMenu li.localization a{background-position: -442px 0px;}
				#MainMenu li.localization a:hover{background-position: -442px -140px;}
				
/* CSS Спрайт Меню - Конец*/

/* Галлерея */

.gallery-content {
	position: absolute;
	color: #2193d8;
	background: #1d1d1d;
	border: 1px solid #363636;
	width: 514px;
	height: 381px;
}

.slides_container {
	width: 490px;
	overflow: hidden;
	position: relative;
	display: none;
	padding-top: 0px;
	padding-left: 8px;
	top: 15px;
	left: 4px;
}

.slides_container img {
	width: 490px;
	height: 353px;
	display: block;
}

#photoGallery {
	width: 514px;
	height: 381px;
	position: relative;
}

.pagination {
	width: 100px;
	margin-left: 461px;
	margin-top: 36px;
}

.pagination li {
	float: left;
	margin: 0 1px;
	list-style: none;
}

.pagination li a {
	display: block;
	width: 12px;
	height: 0;
	padding-top: 12px;
	background-image: url(../images/gallery/pagination.png);
	background-position:0 0;
	float: left;
	overflow: hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/* CSS Спрайт Меню - Конец*/

/* Информационные разделы */

.inform-head1 {
	position: absolute;
	color: #2193d8;
	background: url(../images/inform-head.png) no-repeat;
	background-position: 0px 0px;
	width: 516px;
	height: 38px;
}

.inform-head2 {
	position: absolute;
	color: #2193d8;
	background: url(../images/inform-head.png) no-repeat;
	background-position: 0px -38px;
	width: 516px;
	height: 38px;
}

.inform-head3 {
	position: absolute;
	color: #2193d8;
	background: url(../images/inform-head.png) no-repeat;
	background-position: 0px -76px;
	width: 516px;
	height: 38px;
}

.inform-content {
	position: absolute;
	color: #2193d8;
	background: #1d1d1d;
	border: 1px solid #363636;
	width: 514px;
	height: 200px;
}

.inform-img {
	position: absolute;
	background: url(../images/4.png) no-repeat;
	width: 164px;
	height: 164px;
}

.inform-img2 {
	position: absolute;
	background: url(../images/2.png) no-repeat;
	width: 164px;
	height: 164px;
}

.inform-img3 {
	position: absolute;
	background: url(../images/3.png) no-repeat;
	width: 164px;
	height: 164px;
}

.inform-text {
	position: absolute;
	width: 315px;
	height: 176px;
	margin: 0 0 15px;
	color: #fff;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}

/* Последниые работы */

.last-work-content {
	position: absolute;
	color: #2193d8;
	background: #1d1d1d;
	border: 1px solid #363636;
	width: 294px;
	height: 739px;
}

.last-work-head {
	position: absolute;
	color: #2193d8;
	background: url(../images/last-work-head.png) no-repeat;
	width: 296px;
	height: 51px;
}

.last-work-img {
	position: absolute;
	background: url(../images/p1.jpg) no-repeat;
	width: 276px;
	height: 85px;
}

.last-work-img2 {
	position: absolute;
	background: url(../images/p2.jpg) no-repeat;
	width: 276px;
	height: 85px;
}

.last-work-img3 {
	position: absolute;
	background: url(../images/p3.jpg) no-repeat;
	width: 276px;
	height: 85px;
}

.last-work-img4 {
	position: absolute;
	background: url(../images/p4.jpg) no-repeat;
	width: 276px;
	height: 85px;
}

.last-work-img5 {
	position: absolute;
	background: url(../images/p5.jpg) no-repeat;
	width: 276px;
	height: 85px;
}

.last-work-img-bg {
	position: absolute;
	background: #2b2b2b;
	border: 1px solid #363636;
	width: 280px;
	height: 90px;
}

.last-work-text {
	position: absolute;
	width: 249px;
	height: 30px;
	margin: 0 0 15px;
	color: #2193d8;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	text-decoration: underline;
}

/* CSS Спрайт Калькулятор */

	ul#Calc-batton{margin: 0; padding: 0; list-style: none; clear: both;}
		#Calc-batton li{overflow: hidden; text-indent: -9999px; display: inline; float: left; margin-right: 0px;}
			#Calc-batton li a{background: url(../images/calc.png) no-repeat; width: 100%; height: 100%; display: block;}
			
				#Calc-batton li.calc-batton{width: 296px; height: 51px;}
				#Calc-batton li.calc-batton a{background-position: 0px 0px;}
				#Calc-batton li.calc-batton a:hover{background-position: 0px -51px;}
							
/* CSS Спрайт Калькулятор - Конец*/

.neon-line {
	position: absolute;
	background: url(../images/neon-line.png) no-repeat;
	width: 247px;
	height: 2px;
}

.neon-line-long {
	position: absolute;
	background: url(../images/neon-line-long.png) no-repeat;
	width: 515px;
	height: 2px;
}

.price {
	border:1px solid red;
	height:35px;
	width:100px;
	padding-top:15px;
	text-align:center;
}

#mainCalculator {
	color:#fff;
	padding-top:200px;
	padding-left:250px;
}


/* ФУ-ФУ-ФУ!!! =) ФУТЕР */

.footer-bg {
	position: absolute;
	background: #093c5a;
	width: 980px;
	height: 60px;
	background-image: url(../images/footer-line.png);
	background-repeat: repeat-x;
	background-position: top;
}