* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	background-image: url(../images/bg.jpg); /*     */
    background-attachment: fixed;
	background-position: center;
}
a{
    color: #2193d8; /*    */
    text-decoration: none; /*     */
}

a:visited {
    color: #2193d8; /*    */
} 

a:hover {
    color: #fff; /*         */
	text-decoration: underline;
}
p {
	margin: 0 0 15px;
	color: #2193d8;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
img {
	border: none;
}

img.displayed {
	position: relative;
    display: block;
    float: right;
}

.select-free  {
  position: absolute;
  z-index: -10;
  overflow: hidden;/*must have*/
}

.MenuFooter {
	color: #2193d8;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.copyrights {
	color: #2193d8;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.content {
	position: absolute;
	background: #000;
	width: 980px;
	height: 100%;
}

.logo-main-menu {
	position: absolute;
	width: 248px;
	height: 139px;
	background-image: url(../images/logo.png); 
}

/*  */

.opacity {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
	-moz-opacity: 0.5; /* Mozilla 1.6   */
	-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

/*  -  */

/* CSS   */

#menu{width: 500px; overflow: hidden;} /*   */

	ul#MainMenu{margin: 0; padding: 0; list-style: none; clear: both;}
		#MainMenu li{overflow: hidden; text-indent: -9999px; display: inline; float: left; margin-right: 0px;}
			#MainMenu li a{background: url(../images/Menu_RU.png) no-repeat; width: 100%; height: 100%; display: block;}
			
			/*   */
			#MainMenu li.portfolio{width: 139px; height: 139px;}
				#MainMenu li.portfolio a{background-position: 0px 0px;}
				#MainMenu li.portfolio a:hover{background-position: 0px -140px;}
				#MainMenu li.portfolio a.selected{background-position: 0px -280px;}
			
			/*   */
			#MainMenu li.services{width: 121px; height: 131px;}
				#MainMenu li.services a{background-position: -139px 0px;}
				#MainMenu li.services a:hover{background-position: -139px -140px;}
				#MainMenu li.services a.selected{background-position: -139px -280px;}
				
			/*   */
			#MainMenu li.contact{width: 106px; height: 126px;}
				#MainMenu li.contact a{background-position: -260px 0px;}
				#MainMenu li.contact a:hover{background-position: -260px -140px;}
				#MainMenu li.contact a.selected{background-position: -260px -280px;}
			
			/*   */
			#MainMenu li.main{width: 76px; height: 114px;}
				#MainMenu li.main a{background-position: -366px 0px;}
				#MainMenu li.main a:hover{background-position: -366px -140px;}
				#MainMenu li.main a.selected{background-position: -366px -280px;}
			
			/*   */
			#MainMenu li.localization{width: 58px; height: 107px;}
				#MainMenu li.localization a{background-position: -442px 0px;}
				#MainMenu li.localization a:hover{background-position: -442px -140px;}
				
/* CSS   - */


/* Галерея */

#frame {
	position:absolute;
	/*z-index:0;*/
	width:514px;
	height:386px;
	padding-top:200px;
	padding-left:235px;
	/*top:-3px;*/
	/*left:-80px;*/
}

.slides_container {
	width:490px;
	overflow:hidden;
	position:relative;
	display:none;
	padding-top:202px;
	padding-left:243px;
}

.slides_container a {
	width:490px;
	height:353px;
	display:block;
}

.slides_container a img {
	display:block;
}


#example {
	width:600px;
	height:350px;
	position:relative;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	/*z-index:100;*/
}

.pagination {
	/*margin:6px auto 0;*/
	width:100px;
	margin-left:691px;
	margin-top:25px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/gallery/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

#slides .next,#slides .prev {
	position:absolute;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:760px;
	top:350px;
}

#slides .prev {
	left:222px;
	top:350px;
}

